.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    font-size: 1rem;
}

.dialogs .dialogs__list {
    padding: 0 1rem 1rem 0;
    border-right: solid 10px #e8f9ff;
}

.dialogs .dialogs__list .dialogs__listItem {
    transition: .2s;
    cursor: pointer;
    margin-bottom: 1rem;
    border-bottom: solid 1px #fff;
    background: #e8f9ff;
    padding: .4rem 0 .4rem .4rem;
    cursor: pointer;
}

.dialogs .dialogs__list .dialogs__listItem:hover {
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .dialogs .dialogs__list .dialogs__listItem{
        padding: .4rem 0 .4rem 1.5rem;
    }
}

.dialogs .dialogs__list .dialogs__listItem a {
    color: #006d93;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.dialogs .dialogs__list .dialogs__listItem:hover {
    color: #bbedfe;
}

.dialogs .dialogs__list .dialogs__listItem.active a {
    color: #222;
}

.dialogs .dialogs__messages {
    padding: 0 1rem 1rem 2rem;
}

.dialogs .dialogs__messages .dialogs__messagesItem {
    margin-bottom: 1.5rem;
    display: inline-block;
    width: 100%;
    position: relative;
}

.dialogs .dialogs__messages .dialogs__messagesItem span {
    background-color: #fff;
    max-width: 80%;
    padding: .5rem 1rem;
    display: inline-block;
    cursor: default;
}

.dialogs .dialogs__messages .dialogs__messagesItem span.friendMessage {
    float: right;
    background-color: #bbf1cc;
    min-height: 1.3rem;
}

.dialogs .dialogs__messages .dialogs__messagesItem span.friendMessage:after {
    content: ",";
    font-weight: bold;
    font-size: 60px;
    position:  absolute;
    top: -7px;
    right: 10px;
    transform: rotate(-110deg);
    color: #bbf1cc;
}

.dialogs .dialogs__messages .dialogs__messagesItem span.myMessage {
    float: left;
    background-color: #faffe4;
    min-height: 1.3rem;
}

.dialogs .dialogs__messages .dialogs__messagesItem span.myMessage:after {
    content: ",";
    font-weight: bold;
    font-size: 60px;
    position:  absolute;
    top: -12px;
    left: 10px;
    transform: rotate(92deg);
    color: #faffe4;
}

.dialogs textarea {
    width: 100%;
    height: 5rem;
    border: solid 1px #b8d0d9;
}

@media screen and (min-width: 768px) {

    .dialogs textarea {
        height: 8rem;
    }
}

@media screen and (min-width: 1200px) {

    .dialogs textarea {
        height: 10rem;
    }
}

.dialogs textarea:focus {
    outline: 0;
}

.dialogs button{
    background-color: #1c1c1e;
    border: 0;
    padding: .4rem 1rem;
    margin-right: .4rem;
    transition: .2s;
    cursor: pointer;
    color: #fff;
}

.dialogs__wrapp {
    display: inline-block;
    width: 100%;
}